

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="/css/style.css" />

  <link rel="stylesheet" href="/css/bootstrap.min.css" /> 
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet" /> 


    <!-- Custom styles for this template -->

 <!--   <link rel="stylesheet" href="/css/dashboard.css" />
 <link rel="stylesheet" href="/css/dashboard.rtl.css" /> -->
  

     <title><%= locals.title %></title>
         
      <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
         <a href="/admin/dashboard" class="navbar-brand text-light">FitFam  Admin Panel 🛠</a>

          <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu">
          <span class="navbar-toggler-icon"></span>
         </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">HOME</a>
        </li>
        <li class="nav-item">
          <a href="/blog" class="nav-link">BLOG</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</head>

