<%- include('layouts/header') %>

<!-- Showcase -->
<section
      class="bg-dark text-light py-5 p-lg-0 pt-lg-5 text-center text-sm-start">
      <div class="container py-5">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1>Increase Your Coding Efficiency with <span class="text-warning"> FitFam </span></h1>
            <p class="lead my-4">
              FITFAM fitness app assist programmers to stay healthy and fit physically, mentally and psychologically, thereby allowing for efficient performance and work output.
            </p>
            <!-- <button
              class="btn btn-primary btn-lg"
              data-bs-toggle="modal"
              data-bs-target="#enroll">
              Start The Enrollment
            </button> -->
            <a href="/signin" class="btn btn-primary btn-lg">Login</a>
            <a href="/signup" class="btn btn-primary btn-lg">Register</a>
          </div>
          <img
            class="img-fluid w-50 d-none d-sm-block"
            src="/images/showcase.svg"
            alt="" />
        </div>
      </div>
    </section>

    <!-- Boxes -->
    <section class="p-5">
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md">
            <div class="card bg-dark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class=""></i>
                </div>
                <h3 class="card-title mb-3">Physical Wellbeing</h3>
                <p class="card-text">
                  Fitness and excercise prevents weakness muscles and bones, threby making programers physically fit for best performance.
                </p>
                <a href="/blog" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-secondary text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class=""></i>
                </div>
                <h3 class="card-title mb-3">Mental Health</h3>
                <p class="card-text">
                  Setting the right fitness goal and plan is required to mainting a stable mental Wellbeign for sucessfull programing activities.
                </p>
                <a href="/blog" class="btn btn-dark">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card bg-dark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class=""></i>
                </div>
                <h3 class="card-title mb-3">Psychological wellbeing</h3>
                <p class="card-text">
                  Thinking straight and solving problems is huge to the careers of a programmer, a well structured fitness program is a great way to stay psychologically fit.
                </p>
                <a href="/blog" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Learn Sections -->
    <section id="learn" class="p-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            <img src="/images/fit_gym.svg.jpeg" class="img-fluid" alt="" />
          </div>
          <div class="col-md p-5">
            <h2>Stay fit with FitFam</h2>
            <p class="lead">
              Regular exercise keeps you healthy, productive, and fit for life. 
            </p>
            <p>
              Most programmers forget the need to stay healthy because they do not associate programming with anything harmful. While programming is not a dangerous and risky profession, it is surprisingly associated with a lot of health issues. We need to keep our body and mind in check to stay sharp and productive with  <span class="text-warning"> FitFaM </span></h1>
            </p>
            <a href="/blog" class="btn btn-light mt-3">
              <i class="bi bi-chevron-right"></i> Read More
            </a>
          </div>
        </div>
      </div>
    </section>

   <section id="learn" class="p-5 bg-dark text-light">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p-5">
            <h2>Try out <span class="text-warning"> FitFam </span></h1> </h2>
            <p class="lead">
              Plan to stay fit, Track progress and Optimize your coding efficiency!
            </p>
            <p>
              Coding and staying fit have never been stress free and fun, <span class="text-warning"> FitFam </span></h1> offer helpfull and easy to use fitness resources and features specifically designed for programmers. Register today to access the amazing features of FitFam.
            </p>
            <a href="/blog" class="btn btn-light mt-3">
              <i class="bi bi-chevron-right"></i> Read More
            </a>
          </div>
          <div class="col-md">
            <img src="/images/exercise.jpg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>

    <!-- Question Accordion -->
    <section id="questions" class="p-5">
      <div class="container">
        <h2 class="text-center mb-4">Frequently Asked Questions</h2>
        <div class="accordion accordion-flush" id="questions">
          <!-- Item 1 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-one">
                How do I get started with the fitness application? 
              </button>
            </h2>
            <div
              id="question-one"
              class="accordion-collapse collapse"
              data-bs-parent="#questions">
              <div class="accordion-body">
                To get started, visit fitfam.tech website and register or download the mobile app on playstore, applestore or directly from fitfam.tech to get started
              </div>
            </div>
          </div>
          <!-- Item 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-two">
                What features does the fitness application offer for mental well-being? 
              </button>
            </h2>
            <div
              id="question-two"
              class="accordion-collapse collapse"
              data-bs-parent="#questions">
              <div class="accordion-body">
                FitFam offers easy to plan fitness do-to feature, progress tracker, rich multi-choce fitness resource and an easy to navigate dashborad. Users can also earn valuable ponts based on progress, completed task and frequency of usage and planning.
              </div>
            </div>
          </div>
          <!-- Item 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-three">
                How can I set goals and track my progress using the fitness application?
              </button>
            </h2>
            <div
              id="question-three"
              class="accordion-collapse collapse"
              data-bs-parent="#questions">
              <div class="accordion-body">
                You can set fit goal using the set fitness goal feature, set time and execution dates using the to-do feature and track fitness progess with FitFam tracker, which provides a readable chart for weekly, bi-weekly, monthly, quarterly and yearly fitness performance.
              </div>
            </div>
          </div>
          <!-- Item 4 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-four">
                Is there a social aspect to the fitness application where I can connect with other students?
              </button>
            </h2>
            <div
              id="question-four"
              class="accordion-collapse collapse"
              data-bs-parent="#questions">
              <div class="accordion-body">
                Yes, the community blog feature, provides a well structured social interraction among users/ programers who are passionate about staying fit.
              </div>
            </div>
          </div>
          <!-- Item 5 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-five">
                How can the fitness application help me manage my stress and anxiety?
              </button>
            </h2>
            <div
              id="question-five"
              class="accordion-collapse collapse"
              data-bs-parent="#questions">
              <div class="accordion-body">
                FitFam if well utilized, adopted and monitored, setting SMART fitness goal can help to manage stress and anxiety.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="instructors" class="p-5 bg-primary">
      <div class="container">
        <h2 class="text-center text-white">Our Team</h2>
        <p class="lead text-center text-white mb-5">
          Meet the brilliant minds behind the scenes!
        </p>
        <div class="row g-4 d-flex flex-wrap justify-content-center">
          <div class="col-md-6 col-lg-3">
            <div class="card bg-light mx-auto">
              <div class="card-body text-center">
                <img
                  src="/images/JoshuaAigbiremhon1.jpeg"
                  class="rounded-circle mb-3"
                  alt="" />
                <h3 class="card-title mb-3">Joshua Aigbiremhon</h3>
                <p class="card-text">
                  Joshua (University of Benin) a Tech Enthusiast, believes in providing solutions to business and brands  by leveraging the power of Web. He is currently working as a Freelance Web Developer and Tutor at IMPACTLIGHT WORLD, and also Volunteers as the C.T.O. of the Global Entrepreneurs and Leaders Academy (GELA) ICT Team
                </p>
                <!-- <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a> -->
                <a href="https://impactlightworld.com"><i class="bi bi-globe text-dark mx-1"></i></a>
                <a href="https://linkedin.com/in/joshua-aigbiremhon-324b48194"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--<a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>-->
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="/images/BrandonTowindo.jpeg"
                  class="rounded-circle mb-3"
                  alt="" />
                <h3 class="card-title mb-3">Brandon Towindo</h3>
                <p class="card-text">
                  Brandon is a Mechatronics Engineer turned Back-End Software Engineer with a passion for technology and a knack for problem-solving. With a strong foundation in controlling and programming embedded, robotics and systems, now well-equipped to tackle new challenges in software engineering with a unique perspective.
                </p>
                <a href="https://twitter.com/Towindo1"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <!-- <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>-->
                <a href="www.linkedin.com/in/n-b-towindo"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--<a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>-->
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="/images/josephne.jpg"
                  class="rounded-circle mb-3"
                  alt="" />
                <h3 class="card-title mb-3">Osariemen Josephine</h3>
                <p class="card-text">
                  Osariemen Uwuilekhue is a highly skilled professional with a bachelor's degree in Civil Engineering and a certificate in Software Engineering. She is known for her exceptional problem-solving abilities, adaptability, and strong communication skills. passionate about promoting diversity in engineering and actively mentors aspiring engineers, especially women.
                </p>
                <!--<a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>-->
                <a href="https://www.linkedin.com/in/osariemen-uwuilekhue"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--<a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>-->
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
              <div class="card-body text-center">
                <img
                  src="/images/saheedSA.JPG"
                  class="rounded-circle mb-3"
                  alt="" />
                <h3 class="card-title mb-3">Saheed Salawu</h3>
                <p class="card-text">
                  Saheed (M.sc, B.Tech) is a full backend developer with up to two years experience of system, web and mobile app development. He is proficients in python, C, Js, NodeJS as well as CSS, HTML and mySql. He believes for every problem there always solution.
                </p>
                <a href="https://twitter.com/TitarraResource?t=PJOOig-B4t0J8jJFqxppZQ&s=09"><i class="bi bi-twitter text-dark mx-1"></i></a>
<!--<a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>-->
                <a href="https://www.linkedin.com/in/saheed-salawu-7401b9105"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--<a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
<%- include('layouts/footer') %>



